[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
sceptre = "~=3.0"
sceptre-cmd-resolver = "~=1.2"
sceptre-ssm-resolver = "~=1.2"
sceptre-resolver-aws-secrets-manager = {file = "https://github.com/iAnomaly/sceptre-resolver-aws-secrets-manager/archive/v1.0.0.tar.gz"}

[dev-packages]
pre-commit = "~=3.0"
